# Files
**.json
**.DS_Store
.streamlit/
.gitignore
.pylintrc
README.md
**.csv

# Folders
.github/
tests/



# Terraform
# infra/

# Cache
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/